.chart-card {
  width: 600px !important;
  height: 300px !important;
}

.line-card{
  margin-left: 50px !important;
  width: 700px !important;
  height: 470px !important;
  margin-top: 10px !important;
}

.pie-card{
  margin-left: 50px !important;
  width: 420px !important;
  height: 470px !important;
  margin-top: 10px !important;
}

.row-margin{
  margin-left: 0px!important;
  margin-right: 0px!important;
}

@media (min-width: 480px) and (max-width: 600px) {
  
  .chart-card {
      width: 600px !important;
      height: 300px !important;
  }
  .line-card{
      margin-left: 10px !important;
      width: 520px !important;
      height: 470px !important;
      margin-top: 10px !important;
  }
  .pie-card{
      margin-left: 10px !important;
      width: 420px !important;
      height: 470px !important;
      margin-top: 10px !important;
  }
}

@media (min-width: 120px) and (max-width: 479px) {
  
  /* //CSS */
  .chart-card {
      width: 600px !important;
      height: 300px !important;
  }
  .line-card{
      margin-left: 10px !important;
      width: 320px !important;
      height: 470px !important;
      margin-top: 10px !important;
  }
  .pie-card{
      margin-left: 10px !important;
      width: 320px !important;
      height: 470px !important;
      margin-top: 10px !important;
  }
}




/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

/* @media (min-width: 1281px) {

  //CSS
  
} */

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

/* @media (min-width: 1025px) and (max-width: 1280px) {
  
  //CSS
  
} */

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

/* @media (min-width: 768px) and (max-width: 1024px) {
  
  //CSS
  
} */

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

/* @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
} */

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

/* @media (min-width: 481px) and (max-width: 767px) {
  
  //CSS
  
} */

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/


