nav.navbar, .navbar-default {
    background-color: black !important;
  }

  nav.navbar .container{
      margin-left: 0px !important;
  }

  nav.navbar .container .navbar-header{
    color: #f8f9fa !important;
  }
  
  nav.navbar .container .navbar-header .navbar-brand a{
    color: #f8f9fa !important;
  }
  .navbar-default {
    background-image: none;
    border: none;
    border-radius: 0;
  }
  
  .navbar-default .navbar-nav > li > a {
    color: white;
  }
  
  .navbar-default .navbar-brand {
    color: white;
  }
  
  .navbar-default .navbar-toggle {
    border-color: white;
  }
  
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }
  
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  
  .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
    background-color: transparent;
  }
  
  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
  }

  .btn-group, .btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    margin-left: 60px !important;
    margin-top: 30px !important;
  }

